<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Jools Clarke",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "University College London"
  },
  "jobTitle": "PhD Student in Astrophysics",
  "url": "https://www.joolsclarke.co.uk",
  "sameAs": [
    "https://github.com/jools-clarke",
    "https://www.linkedin.com/in/jools-clarke-b82588167/",
    "https://bsky.app/profile/jools-36.bsky.social",
    "https://arxiv.org/abs/2412.02328",
    "https://www.ucl.ac.uk/data-intensive-science-industry/research-projects/2025/feb/jools-clarke"
  ],
  "image": "https://raw.githubusercontent.com/Jools-Clarke/joolsclarke.co.uk/refs/heads/main/profile.png",
  "description": "Researcher in machine learning and exoplanet atmospheres, developing Perturb retrieval framework and data pipelines for the ESA Ariel Space Telescope."
}
</script>
