---
# Landing page for the QR code at the end of my Vienna 2026 talk.
title: Jools Clarke | Ariel Consortium Meeting | Vienna
description: Slides from my talk at the Ariel Consortium Meeting in Vienna, 2026.
robots: noindex, nofollow
sitemap: false
narrow: true
---
<h1>Ariel Consortium, Vienna</h1>

<p>Download the <b>slides</b> from my presentation</p>

{% include file-card.html
  file="/qr2/jools_clarke_ariel_consortium_VIENNA.pdf"
  title="Slides: Ariel Consortium Meeting, Vienna 2026"
  accent=2
%}

<hr>

<p>Check out the rest of my website to see more of my <b>recent work</b> and to <b>get in touch</b>.</p>

{% include card.html url="/" title="Go to homepage" accent=4 big=true %}
